div.forms input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
div.forms label{
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}
div.forms input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.forms input[type=submit]:hover {
  background-color: #45a049;
}
div.forms button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.forms button:hover {
  background-color: #45a049;
}

div.forms {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

div.forms h3{
  margin: auto;
  text-align: center;

}

.formsflex{
  display: flex;
  align-items: stretch;
}


.nav {
  background-color: #45a049;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #232caa;
}

.nav li:hover {
  background-color: #2f6e32;
}





.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  margin-top: 10px;
  font-size: 16px;
  min-width: 500px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  min-width: 500px;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  text-align: center;
  margin: auto;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
 
  background-color: #f6f6f6;
  min-width: 500px;
  max-height: 200px; /* Set a maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

